.box{
    background-color:antiquewhite;
    height: 550px;
    width: 500px;
    margin-top: 4%;
    margin-left: 35%;
}
#input1,#input2{
    width: 95%;
    height: 30px;
    margin-top: 20px;
}
#input1{
    margin-bottom: 20px;
}
h2{
    padding-left: 20px;
}
#first{
    padding-top: 20px;
}
.one{
    padding:20px;
    margin-left: 60px;
    margin-top: 20px;
}
#three{
    margin-top: 10px;
}
#result{
    padding-left: 40%;
    padding-top: 20px;
}